body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

#image{
    margin: 10px;
    float: left;
}
#second-image{
    margin: 10px;
    float: left;
}

#content {
    display: flex;
    flex-direction: column;
}

#inputs {
    display: flex;
    flex-direction: column;
}

#results {
    color: white;
    font-size: 1.25rem;
}